// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {
    margin-left: 100px;
  }


  &__list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {}


  .js & {
    display: none;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {
    display: flex;
    flex-direction: row;
  }
  }

  .js &--visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: @text-color;
    z-index: 2;

  @media  (min-width: @screen-sm) {
    top: 100px;
  }
  @media  (min-width: @screen-md) {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
  }
}
}


  &__item {
    display: flex;
    justify-content: center;
    border-top: 1px solid @border-link-top;
    border-bottom: 1px solid @border-link-bottom;
    text-align: center;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {
    border-top: none;
    border-bottom: none;
  }
}


  &__link {
    display: block;
    padding: 18px 21px;
    font-size: (@font-size+4);
    line-height: (@line-height+14);
    color: @white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: transparent;

  &:hover {
    text-decoration: none;
  }
  >span:hover {
    text-decoration: none;
    color: @pink;
    transition-duration: 0.1s;

    @media  (min-width: @screen-md) {
      border-bottom: 2px solid @white;
      color:@white;

    }
  }

  &:active {
    color: fade( @pink, 30%);
  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {
    color: #596470;
    border-bottom: none;
  }
  }

  @media  (min-width: @screen-sm) {
    padding: 20px 21px;
  }
  @media  (min-width: @screen-md) {
    text-transform: none;
    line-height: @line-height;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 15px;
  }
  }
}

