// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
 display: flex;
 justify-content: center;
 flex-direction: column;

  @media all and (min-width:700px){}

   @media all and (min-width: 1200px){}



  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
   right: 0;
    left: 0;
    //display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

  &--visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    @media all and (min-width:700px){}

    @media all and (min-width: 1200px){
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }
}



  &__item{
    display:block;

    @media all and (min-width: 700px){}

    @media all and (min-width: 1200px){}

  }



  &__link{
    display:flex;
    justify-content: center;

    &:hover {}

    @media all and (min-width: 700px){}

    @media all and (min-width: 1200px){}

  }
}

