// Для импорта в диспетчер подключений: @import './src/blocks/main-nav/main-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.main-nav {
  display: flex;
  justify-content: center;
  position: relative;
  height: 3em;
  background-color: #777;

//@media @tablet-widths {}
//@media @desktop-widths {}

  &__list {
  	display: flex;
  	flex-direction: column;
  	//justtify-content: center;
  	margin: 0;
  	list-style: none;

//@media @tablet-widths {}
//@media @desktop-widths {}
  }

  &__item{


//@media @tablet-widths {}
//@media @desktop-widths {}
  }

  &__link{

&:hover {}
//@media @tablet-widths {}
//@media @desktop-widths {}
  }

}

