// Для импорта в диспетчер подключений: @import './src/blocks/first-review/first-review.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.first-review {
  margin-left: 20px;
  margin-right: 20px;

  @media  (min-width: @screen-sm) {
    margin-left: 40px;
    margin-right: 40px;
  }
  @media  (min-width: @screen-md) {
    margin-left: 130px;
    margin-right: 130px;
  }
}
