@font-face {
  font-family: 'Open Sans';       /* название одно */
  src: url('../fonts/opensans.woff2'); /* разные файлы */
  font-weight: 400;              /* разная плотность */
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';       /* название одно */
  src: url('../fonts/opensansbold.woff2'); /* разные файлы */
  font-weight: 700;              /* разная плотность */
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';       /* название одно */
  src: url('../fonts/opensanslighy.woff2'); /* разные файлы */
  font-weight: 200;              /* разная плотность */
  font-style: normal;
}