// Для импорта в диспетчер подключений: @import './src/blocks/offer/offer.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.offer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 90px;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {
    padding-top: 50px;
 }

  >span {
    display: block;
    text-align: center;
    padding: 0;
    font-size: (@font-size+10);
    line-height: (@line-height+14px);
    margin: 0 auto;
    color: @text-color;

  @media  (min-width: @screen-sm) {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: (@font-size+26);
    font-weight: normal;
    line-height: (@line-height+36);
  }
  @media  (min-width: @screen-md) {
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: (@font-size+36);
    line-height: (@line-height+46);
 }
  }



  &__text:last-child {

  @media  (min-width: @screen-sm) {
    width: 320px;
    margin-top: 0;
    text-align: center;
  }
  @media  (min-width: @screen-md) {
    width: 400px;
  }
}
}
