// Для импорта в диспетчер подключений: @import './src/blocks/reviews/reviews.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.reviews {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;

  @media  (min-width: @screen-sm) {
    padding-bottom: 72px;
  }
  @media  (min-width: @screen-md) {
    padding-top: 75px;
  }


  &__item {
    display: flex;
    flex-direction:column;
    margin: 0;
    padding: 0;

    &:before{
      display: none;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {
    content: "";
    display: block;
    background-image: url("../img/icon-quotes.svg");
    background-size: 100% 100%;
    width: 79px;
    height: 64px;
    margin: 0 auto;
  }
  }

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {}
}


  &__text {
    display: flex;
    justify-content: center;
    order: 2;
    text-align: center;
    margin: 0;
    font-size: @font-size;
    line-height: (@line-height+12);
    //font-weight: bold;
    padding: 20px;
    padding-bottom: 20px;

  @media  (min-width: @screen-sm) {
    order: 1;
    font-size: 14px;
    padding: 50px 0 40px 0;
    font-size: (@font-size+4);
    line-height: (@line-height+12);
  }
  @media  (min-width: @screen-md) {
    width: 700px;
  }
}


  &__footer {
    display: flex;
    flex-direction: column;
    order: 1;

  @media  (min-width: @screen-sm) {
    order: 2;
  }
  @media  (min-width: @screen-md) {}
 }

  &__footer--text {
    display: flex;
    justify-content: center;
    font-size: (@font-size+4);
    line-height: (@line-height+12);

  @media  (min-width: @screen-sm) {
    font-size: (@font-size+6);
    line-height: (@line-height+12);
    font-weight: bold;
  }
  @media  (min-width: @screen-md) {
    font-size: (@font-size+10);
    line-height: (@line-height+12);
    color: @black;
    font-weight: bold;
  }

  &:last-child {
    display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    font-size: @font-size;
    line-height: (@line-height+12);
  }
  @media  (min-width: @screen-md) {
    display: flex;
    font-size: (@font-size+4);
    color: @dack_blue_grey;
    font-weight: normal;
  }
}
}
}


