// Для импорта в диспетчер подключений: @import './src/blocks/fiches/fiches.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.fiches {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: @light_pink_bg;
  position: relative;

  @media  (min-width: @screen-sm) {
   	flex-direction: row-reverse;
    padding-top: 0;
    position: relative;
    padding-left: 6%;
    padding-right: 6%;
  }
  @media  (min-width: @screen-md) {
    margin-top: 24px;
    flex-direction: row;
  }


  &-wrap {
    display: flex;
    flex-direction: column;
    background-color: @light_pink_bg;

    @media  (min-width: @screen-sm) {
      flex-direction: column;
      padding-top: 0;
      width: 50%;
      margin-left: 5%;
    }
    @media  (min-width: @screen-md) {
      flex-direction: row;
      width: 100%;
      margin-left: 0;
      justify-content: space-around;
    }
  }


  &__item {
    padding-left: 20px;
    padding-right: 20px;

    &:nth-of-type(1)::before {

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {
      content: "";
      display: block;
      background-image: url("../img/iphone-screen-desktop-1@1x.png");
      background-size: 100% 100%;
      width: 292px;
      height: 302px;
      margin: 0 auto;
    }
  }

    &:nth-of-type(2)::before {

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {
      content: "";
      display: block;
      background-image: url("../img/iphone-screen-desktop-2@1x.png");
      background-size: 100% 100%;
      width: 292px;
      height: 302px;
      margin: 0 auto;
    }
  }

    &:nth-of-type(3)::before {

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {
      content: "";
      display: block;
      background-image: url("../img/iphone-screen-desktop-3@1x.png");
      background-size: 100% 100%;
      width: 292px;
      height: 302px;
      margin: 0 auto;
    }
  }

   	@media  (min-width: @screen-sm) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 16px;

       &:last-of-type{
        padding-bottom: 27px;
      }
    }
    @media  (min-width: @screen-md) {
      margin-top: -91px;
      z-index: 2;
      position: relative;

      &:last-of-type{
        padding-bottom: 0;
      }
    }
  }


 	&__title {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding-top: 39px;
    padding-bottom: 16px;

   	@media  (min-width: @screen-sm) {
      text-align: left;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    @media  (min-width: @screen-md) {
      text-align: center;
      font-size: (@font-size+16);
      line-height: (@line-height+12);
      width: 210px;
      margin: 0 auto;
      padding-top: 56px;
      padding-bottom: 22px;
    }
  }


 	&__text {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: @font-size;
 //   line-height: @line-height;
    line-height: 22px;

    @media  (min-width: @screen-sm) {
      text-align: left;
      margin: 0;
      line-height: (@line-height+6);
    }
    @media  (min-width: @screen-md) {
      text-align: center;
      font-size: (@font-size+4);
      line-height: (@line-height+12);
      padding-left: 50px;
      padding-right: 50px;
    }
 	}
}


.fiches::before{
  content: "";
  display: block;
  background-image: url("../img/bg-triangle-white.svg");
  background-size: 100% 100%;
  width: 100%;
  height: 24px;
  transform: rotate(180deg);
  position: absolute;
  top: -24px;
  left: 0;
  right: 0;
  z-index: 1;

    @media  (min-width: @screen-sm) {
      top: -61px;
      height: 61px;
    }
    @media  (min-width: @screen-md) {
      top: -89px;
      height: 89px;
    }
}


.fiches::after{
  content: "";
  display: flex;
  background-image: url("../img/iphone-screen-mobile.png") ;
  height: 282px;
  width: 157px;
  margin: 0 auto;
  margin-top: 40px;

    @media  (min-width: @screen-sm) {
      background-image: url("../img/iphone-screen-tablet-3@1x.png") ;
      background-repeat: no-repeat;
      background-position: bottom;
      height: 484px;
      width: 268px;
      margin-top: -80px;
      margin-left: 0;
      z-index: 2;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 6%;
    }
    @media  (min-width: @screen-md) {
      display: none;
    }
}
