// Для импорта в диспетчер подключений: @import './src/blocks/index-title/index-title.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.index-title {
  display: none;
  margin:0;

  @media  (min-width: @screen-sm) {
    display:flex;
    z-index: 1;
    color: @white;
    font-size: (@font-size+26);
    font-weight: 100;
    line-height: (@line-height+31);
    width: 239px;
    text-align: center;
    padding-top: 93px;
    padding-left: 53px;
  }
  @media  (min-width: @screen-md) {
    display:flex;
    justify-content: center;
    font-size: (@font-size+36);
    font-weight: normal;
    line-height: (@line-height+43);
    width: 269px;
    text-align: center;
    padding-top: 108px;
    padding-left: 22px;
  }
}
