// Для импорта в диспетчер подключений: @import './src/blocks/index-title/index-title.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.index-title {
  display: none;
  margin:0;

  @media all and (min-width:700px) {

  }
  @media all and (min-width: 1200px) {
    display:flex;
    justify-content: flex-start;
  }
}
