// Для импорта в диспетчер подключений: @import './src/blocks/footer/footer.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.footer {
  display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 40px;
    padding-left: 6%;
    padding-right: 6%;
    }
  @media  (min-width: @screen-md) {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 11%;
    padding-right: 11%;
    }


  &__logoacad {
    display: none;

    @media  (min-width: @screen-sm) {
      display: flex;
    }
    @media  (min-width: @screen-md) {}
    }


  &__logoacad-link {

    .logo-tablet {
      display: none;

    @media  (min-width: @screen-sm) {
      display: block;
    }
    @media  (min-width: @screen-md) {
      display: none;
    }
    }

    .logo-desktop {
      display: none;

    @media  (min-width: @screen-sm) {
      display: none;
    }
    @media  (min-width: @screen-md) {
      display: block;
    }
    }
  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {}
  }


  &__social{
    display: none;

    @media  (min-width: @screen-sm) {
      display: flex;
    }
    @media  (min-width: @screen-md) {}
  }


  &__social-icon {
    display: none;

    @media  (min-width: @screen-sm) {
      display: flex;
      width: 50px;
      height: 50px;
      border: 3px solid #e9ebec;
      border-radius: 50%;
      margin-right: 12px;
      font-size: 0;
      position: relative;

      &:hover {
        border: 3px solid @dack_blue_grey;
      }
      &:active {
        border: fade(@dack_blue_grey, 30%);
      }
  }
   @media  (min-width: @screen-md) {}
  }


  &__social-tw {
    display: none;

    @media  (min-width: @screen-sm) {
      display: block;
      background: url("../img/icon-twitter.svg");
      width: 18px;
      height: 15px;
      background-size: 100% 100%;
      position: absolute;
      top: 14px;
      left: 13px;
    }
    @media  (min-width: @screen-md) {}
  }


  &__social-fb {
    display: none;

    @media  (min-width: @screen-sm) {
      display: block;
      background: url("../img/icon-facebook.svg");
      width: 9px;
      height: 19px;
      background-size: 100% 100%;
      position: absolute;
      top: 10px;
      left: 17px;
    }
    @media  (min-width: @screen-md) {}
  }


  &__social-youtube {
    display: none;

    @media  (min-width: @screen-sm) {
      display: block;
      background: url("../img/icon-youtube.svg");
      width: 15px;
      height: 14px;
      background-size: 100% 100%;
      position: absolute;
      top: 14px;
      left: 17px;
    }
    @media  (min-width: @screen-md) {}
  }


  .footer__logo-acad {
    display: none;

    @media  (min-width: @screen-sm) {
      display: flex;
    }
    @media  (min-width: @screen-md) {}
  }


  .footer__logo-text {
    display: none;

    @media  (min-width: @screen-sm) {
      display: flex;
      font-size: 14px;
      line-height: 59px;
      padding-right: 6px;
    }
    @media  (min-width: @screen-md) {
      font-size: (@font-size+4);
      line-height: (@line-height+39);
    }
  }


  .footer__logo-link {
    display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    background: url("../img/htmlacademy.svg");
    background-size: 100% 100%;
    width: 40px;
    height: 62px;

    &:hover{
      display: flex;
      background: url("../img/htmlacademy__hover.svg");
      background-size: 100% 100%;
      width: 40px;
      height: 62px;
    }
  }
  @media  (min-width: @screen-md) {
    width: 42px;
    height: 40px;
    margin-top: 10px;

    &:hover{
      display: flex;
      background: url("../img/htmlacademy__hover.svg");
      background-size: 100% 100%;
      width: 42px;
      height: 40px;
    }
  }
  }
}
