// Для импорта в диспетчер подключений: @import './src/blocks/content-box/content-box.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.content-box {
  display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    flex-direction: row;
    padding-left: 6%;
    padding-right: 6%;
    position: relative;
  }
  @media  (min-width: @screen-md) {
    display: flex;
    flex-direction: row;
    background-color: @light_pink_bg;
    padding-bottom: 88px;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 46px;
  }


  &__wrap {
    display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    flex-direction: column;
    width: 46%;
    margin-left: 14%;
    margin-top: 99px;
  }
  @media  (min-width: @screen-md) {
    width: 60%;
    margin-left: 9.7%;
    margin-top: 96px;
  }
}


  &__title {
    display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    margin: 0;
    font-size: (@font-size+16);
    line-height: (@line-height+16);
    width: 170px;
    padding-bottom: 12px;
  }
  @media  (min-width: @screen-md) {
    width: auto;
    padding-bottom: 21px;
  }
}


  &__text{
    display: none;

  @media  (min-width: @screen-sm) {
    display: flex;
    margin: 0;
    font-size: @font-size;
    line-height: (@line-height+6);
    padding-bottom: 11px;
  }
  @media  (min-width: @screen-md) {
    font-size: (@font-size+4);
    line-height: (@line-height+12);
    padding-bottom: 30px;
  }
}


  &__link{
    display: none;

  @media  (min-width: @screen-sm) {
    display: block;
    font-size: @font-size;
    line-height: (@line-height+6);
    color: @pink;
    text-decoration: underline;
  }
  @media  (min-width: @screen-md) {
    font-size: (@font-size+4);
    line-height: (@line-height+12);
  }
}
}


  .content-box::before {
    display: none;

  @media  (min-width: @screen-sm) {
    content: "24";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: (@font-size+82);
    line-height: (@line-height+130);
    font-weight: bold;
    color: @pink;
    height: 200px;
    width: 200px;
    border: 14px solid @pink;
    border-radius: 50%;
    margin-top: 118px;
    margin-left: 20px;
    z-index: 2;
  }
  @media  (min-width: @screen-md) {
    font-size: (@font-size+106px);
    line-height: (@line-height+167);
    width: 253px;
    height: 253px;
    margin-top: 72px;
    margin-left: 22px;
  }
}


  .content-box::after {
    display: none;

  @media  (min-width: @screen-sm) {
    content: "";
    display: flex;
    background-image: url("../img/icon-timer.svg") ;
    background-size: 100% 100%;
    position: absolute;
    left: 6%;
    width: 240px;
    height: 398px;
    z-index: 1;
  }
  @media  (min-width: @screen-md) {
    width: 314px;
    height: 350px;
    left: 122px;
  }
}










