// Для импорта в диспетчер подключений: @import './src/blocks/content-box/content-box.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.content-box {
  display: none;

  @media all and  (min-width: 700px) {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
  }
  @media all and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }


  &__img{
    display: none;

  @media all and  (min-width: 700px)  {
    display: flex;
    width: 45%;
    margin-right: 5%;
  }
  @media all and (min-width: 1200px)  {

  }
}


  &__wrap{
    display: none;

  @media all and  (min-width: 700px)  {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  @media all and (min-width: 1200px)  {

  }
}


  &__title{
    display: none;

  @media all and  (min-width: 700px)  {
    display: flex;
    margin: 0;
  }
  @media all and (min-width: 1200px)  {

  }
}


  &__text{
    display: none;

  @media all and  (min-width: 700px)  {
    display: flex;
    margin: 0;
  }
  @media all and (min-width: 1200px)  {

  }
}

}
