// Для импорта в диспетчер подключений: @import './src/blocks/photo-form/photo-form.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.photo-form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;

    @media  (min-width: @screen-sm) {
      padding-left: 0;
      padding-right: 0;
    }
    @media  (min-width: @screen-md) {}


  &__btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
    text-align: center;
    margin-top: 38px;

    @media  (min-width: @screen-sm) {

      flex-direction: column;
      justify-content: space-between;
      margin-top: auto;
      width: auto;
    }
    @media  (min-width: @screen-md) {
      flex-direction: row;
    }
  }


  &__btn--default {
    display: flex;
    justify-content: center;
    border: 3px solid @pink;
    border-radius: 50px;
    background: transparent;
    padding: 15px 35px;
    font-size: 18px;
    color: @pink;
    line-height: 18px;
    text-align: center;
    margin-bottom: 10px;
    outline: none;

    &:hover {
      background: @pink;
      color: @white;
    }
    &:active {
      background: @pink;
      color: fade(@white, 30%);
    }

    @media  (min-width: @screen-sm) {
      margin-bottom: 20px;

    }
    @media  (min-width: @screen-md) {
      width: 190px;
      margin-bottom: 0;
    }
  }


  &__btn--disabled {
    display: flex;
    justify-content: center;
    border: 3px solid #dddfe0;
    border-radius: 50px;
    background: transparent;
    padding: 15px 35px;
    font-size: 18px;
    color: #dddfe0;
    line-height: 18px;
    text-align: center;
    outline: none;

    &:hover {
      border: 3px solid #b5b9be;
      color: #b5b9be;
    }
    &:active {
      background: #b5b9be;
      color: fade(@white, 30%);
    }

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {
        width: 190px;
    }
  }
}
