// Для импорта в диспетчер подключений: @import './src/blocks/logo/logo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.logo{
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
  width: 200px;
  //.container();

    @media (min-width: 700px){
      padding-top: 23px;
      padding-bottom: 37px;
      padding-left: 40px;
  }

    @media (min-width: 1200px){
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      //padding-left: 130px;
  }
}

  .logo-mobile {
   display: block;

    @media (min-width: 700px){
    display: none;
}

    @media (min-width: 1200px){
     display: none;
  }
  }


 // .logo-tablet {
  // display: none;

  // @media (min-width: 700px){
  // display: block;

//}
  // @media (min-width: 1200px){
  // display: none;
//  }
 //  }


 // .logo-desktop {
 //  display: none;

 //  @media (min-width: 700px){
 //   display: none;

//}
 //  @media (min-width: 1200px){
 //   display: block;
//  }
//}




.logo svg{

}





