// Для импорта в диспетчер подключений: @import './src/blocks/logo/logo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.logo {
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
  width: 200px;

  @media (min-width: @screen-sm) {
    padding-top: 23px;
    padding-bottom: 37px;
    padding-left: 40px;
  }
  @media (min-width: @screen-md) {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
}


.logo-mobile {
  display: block;

  @media (min-width: @screen-sm) {
    display: none;
  }
  @media (min-width: @screen-md) {
    display: none;
  }
}


.logo-tablet {
  display: none;

  @media (min-width: @screen-sm) {
    display: block;
  }
  @media (min-width: @screen-md) {
    display: none;
  }
}


.logo-desktop {
  display: none;

  @media (min-width: @screen-sm) {
    display: none;
  }
  @media (min-width: @screen-md) {
    display: block;
  }
}


.logo svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.logo:hover path {
  fill:#D22856;
}

.logo:active path {
  fill: fade(#D22856, 30%);
}





