// Для импорта в диспетчер подключений: @import './src/blocks/logo/logo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.logo{
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
  width: 200px;
  //.container();

    @media all and (min-width: 700px){
      padding-top: 23px;
      padding-bottom: 37px;
      padding-left: 40px;
  }

    @media all and (min-width: 1200px){
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      //padding-left: 130px;
  }


  &-mobile {
    opacity: 1;

    @media all and (min-width: 700px){
      opacity: 0;
}

    @media all and (min-width: 1200px){
      opacity: 0;
  }
  }


  &-tablet {
    opacity: 0;

   @media all and (min-width: 700px){
    opacity: 1;

}
   @media all and (min-width: 1200px){
    opacity: 0;
  }
   }


  &-desktop {
    opacity: 0;

   @media all and (min-width: 700px){
    opacity: 0;

}
   @media all and (min-width: 1200px){
    opacity: 1;
  }
  }

}


.logo svg{

}





