// Для импорта в диспетчер подключений: @import './src/blocks/form-header/form-header.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.form-header {
   display: flex;
  flex-direction: column;
  position: relative;
  min-height: 236px;

@media  (min-width: @screen-sm) {
  min-height: 440px;
}
@media  (min-width: @screen-md) {
  display: flex;
  flex-direction: column;
   min-height: 394px;
}

  &__inner {
    display: flex;
    flex-direction: column;
    background: @dack_blue_grey;
    z-index: 2;
    position: relative;

  @media  (min-width: @screen-sm) {
    padding-left: 40px;
    padding-top: 11px;
    padding-bottom: 0;
  }
  @media  (min-width: @screen-md) {
    display: flex;
    flex-direction: row;
    background: fade(@dack_blue_grey, 80%);
    padding-left: 10.4%;
    padding-right: 8%;
    padding-top: 0;
  }
  }
}


.form-header::before {
  content: "";
  position: absolute;
  z-index: 1;
  background: @dack_blue_grey url("../img/bg-back-mobile.jpg") no-repeat center top / 699px auto;
  background-size: cover;
  //max-height: 465px;
  width: 100%;
  height: 100%;
  z-index: 1;


@media  (min-width: @screen-sm) {
  background: @dack_blue_grey url("../img/bg-back-mobile.jpg") no-repeat center top / 701px auto;
  //min-height: 765px;
  width: 100%;
  height: 100%;
   background-size: cover;
   left: 0;
   right: 0;
   bottom: 0;
  }
@media  (min-width: @screen-md) {
  background: @dack_blue_grey url("../img/bg-back-desktop.jpg") no-repeat center top ;
 // min-height: 852px;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
 }
}


.menu-show {
  background: rgba(0, 0, 0, 0.3);
}
