// Для импорта в диспетчер подключений: @import './src/blocks/line/line.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.line {
  width: 100%;
  height: 1px;
  background: #dddfe0;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {}
}
