// Для импорта в диспетчер подключений: @import './src/blocks/editor-photo/editor-photo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.editor-photo {
  display: flex;
  padding-top: 20px;
  padding-bottom: 43px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;


  @media  (min-width: @screen-sm) {
    padding-top: 60px;
    padding-bottom: 53px;
    flex-direction: row;
    margin-bottom: 34px;
    padding-left: 40px;
    padding-right: 40px;


  }
  @media  (min-width: @screen-md) {
    margin-bottom: 101px;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 79px;
    padding-right: 60px;
  }


  &__inner {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;

    @media  (min-width: @screen-sm) {
      flex-direction: row;
      width: 53%;
      padding-right: 3%;
      padding-left: 0;
    }
    @media  (min-width: @screen-md) {
      padding-right: 0;
      margin-right: 12%;
      width: 37%;
    }
  }

  &__content {

    @media  (min-width: @screen-sm) {
      width: 50%;
      padding-left: 3%;
    }
    @media  (min-width: @screen-md) {
      padding-left: 0;
    }
  }


  &__images {
     width: 100%;

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }


  &__img {
    width: 100%;
    height: auto;
    max-width: 100%;

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }


  &__tools {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding-bottom: 65px;
    padding-top: 34px;
    padding-left: 20px;
    padding-right: 20px;

    @media  (min-width: @screen-sm) {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-bottom: 0;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    @media  (min-width: @screen-md) {}
  }


  &__crop {
    display: inline-block;
    background: url("../img/icon-editor-crop__active.svg") no-repeat;
    background-position: center center;
    width: 48px;
    height: 48px;
    cursor: pointer;

    @media  (min-width: @screen-sm) {
      background: url("../img/icon-editor-crop__active.svg") no-repeat;
      background-size: 50% ;
      background-position: 50% 50%;
     }
    @media  (min-width: @screen-md) {
      background-size: 100%;
    }
  }


  &__fill {
    display: inline-block;
    background: url("../img/icon-editor-fill.svg") no-repeat;
    background-position: center center;
    width: 48px;
    height: 48px;

    @media  (min-width: @screen-sm) {
      background: url("../img/icon-edit-fill__active.svg") no-repeat;
      background-size: 50%;
      background-position: 50% 50%;
    }
    @media  (min-width: @screen-md) {
      background-size: 100%;
    }
  }


  &__contrast {
    display: inline-block;
    background: url("../img/icon-editor-contrast.svg") no-repeat;
    background-position: center center;
    width: 48px;
    height: 48px;


    @media  (min-width: @screen-sm) {
      background: url("../img/icon-editor-contrast__active.svg") no-repeat;
      background-size: 50%;
      background-position: 50% 50%;
    }
    @media  (min-width: @screen-md) {
      background-size: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-content: space-between;

    @media  (min-width: @screen-sm) {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;

    &:first-child {
      padding-top: 0;
    }
  }
    @media  (min-width: @screen-md) {
      padding-top: 15px;
      padding-bottom: 15px;

    &:first-child {
      padding-top: 0;
    }
    }
  }



  &__item--active {

    .editor-photo__input-wrap {
      display: block;
    }

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {}
  }


  &__input-wrap {
    position: absolute;
    top: 73%;
    display: none;
    width: 90%;
    left: 5%;
    right: 5%;

    @media  (min-width: @screen-sm) {
      display: block;
      position: relative;
    }
    @media  (min-width: @screen-md) {
      align-self: center;
    }
  }


  &__input {
    align-self: center;
    padding: 0;
    width: 100%;
    border-radius: 0;
    border: 0;
    background: none;
    font-size: inherit;
    cursor: pointer;
    -webkit-appearance: none;

   &::-webkit-slider-runnable-track,
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
  }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 2px rgba(2, 117, 216, 0);
    }

    &::-webkit-slider-runnable-track {
      .field-range-runnable-track(); // локальная примесь!
    }
    &::-moz-range-track {
      .field-range-runnable-track(); // локальная примесь!
    }
    &::-ms-track {
      .field-range-runnable-track(); // локальная примесь!
      color: transparent;
    }



    &::-webkit-slider-thumb {
      margin-top: -0.50em;
      .field-range-slider-thumb(); // локальная примесь!
    }
    &::-moz-range-thumb {
      .field-range-slider-thumb(); // локальная примесь!
    }
    &::-ms-thumb {
      .field-range-slider-thumb(); // локальная примесь!
    }
    &::-ms-fill-lower,
    &::-ms-tooltip {
      display: none;
    }


    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }
}

.field-range-runnable-track() {
      box-sizing: border-box;
      border: 0;
      width: 100%;
      height: 2px;
      border-radius: 0;
      background: @dack_blue_grey;
      border: 1px solid @dack_blue_grey;
}

.field-range-slider-thumb() {
      box-sizing: border-box;
      border: 0;
      padding: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      box-shadow: none;
      cursor: pointer;
      background: #f2f2f2;
      border: 2px solid @pink;
}




