// Для импорта в диспетчер подключений: @import './src/blocks/download/download.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным

.download-wrap {
  display: flex;
  flex-direction: column;

  @media  (min-width: @screen-sm) {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    padding-right: 6%;
  }
  @media  (min-width: @screen-md) {
    display: flex;
    flex-direction: column;
    padding-left: 11%;
    padding-right: 11%;
    padding-bottom: 70px;
  }
}


.download {
  display: flex;
  flex-direction: column;
  width: auto;
  z-index: 3;
  background:  @dack_blue_grey;
  padding: 28px 20px;
  margin-top: 381px;

  @media  (min-width: @screen-sm) {
    background: transparent;
    margin-top: 0;
    width: 300px;
    padding-bottom: 84px;
    padding-left: 0;
    padding-right: 0;
  }
  @media  (min-width: @screen-md) {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-top: 46px;
    padding-bottom: 50px;
    margin-top: 0;
  }


  &__btn {
    display: flex;
    justify-content: center;
    border: 3px solid @white;
    border-radius: 50px;
    background: transparent;
    padding: 15px 35px;
    font-size: 18px;
    color: @white;
    line-height: 18px;


  &:hover {
    background: @white;
    color: @pink;
    text-decoration: none;
  }

  &:active{
    background: @white;
    color: fade(@pink, 30%);
    text-decoration: none;
  }

  @media  (min-width: @screen-sm) {
    justify-content: center;
    width: 300px;
  }
  @media  (min-width: @screen-md) {
    justify-content: flex-start;
    font-size: 21px;
    line-height: 24px;
  }
}


  &__available {
    display: flex;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    color: @white;
    font-size: 14px;
    line-height: 24px;
    margin: 0;

  @media  (min-width: @screen-sm) {
    justify-content: flex-start;
    width: 300px;
    padding: 0;
    font-size: 18px;
  }
  @media  (min-width: @screen-md) {
    justify-content: flex-start;
  }
}
}


.download__image {
    display: flex;
    justify-content: space-around;
    padding: 38px 0 20px;
    align-items: center;
    align-content: center;

  @media  (min-width: @screen-sm) {
     width: 100%;
     padding-top: 48px;
     padding-bottom: 37px;
     padding-left: 0;
  }
  @media  (min-width: @screen-md) {
      justify-content: space-around;;
      padding: 67px 0 54px;
  }


  &-link {
    font-size: 14px;
    height: 56px;
    width: 47px;

  @media  (min-width: @screen-sm) {}
  @media  (min-width: @screen-md) {}
}


  &-link--osx {}
  &-link--android {}
  &-link--windows {}
}


.download__image svg{
  width: 100%;
  max-width: 100%;
  height: auto;
}
