.main-nav{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basic: 100%;

  @media @tablet-widths{

}
  @media @desktop-widths{
  .main-nav{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basic: 80%;
  jusrify-content: flex-end;

}

}
}

.main-nav__list{
  display: block;
  position: absolute;
  z-index: 900;
  width: 100%;
  magin: 0;
  list-style-type: none;



 @media @tablet-widths{

}

@media @desktop-widths{

  .main-nav__list{
    display: flex;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basic: auto;
    flex-direction: row;
    justify-content: flex-end;

  }
}
}
.main-nav__item{
  display:block;
  width:100%;

@media @tablet-widths{
  .main-nav__item{

  }
}
@media @desktop-widths{
  .main-nav__item{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basic: auto;
    width: auto;
  }
}
}
.main-nav__link{
  display: block;
  width: 100%;
  padding: 25px;
  text-align: center;
  border-bottom: 1px solid #485461;
  border-top: 1px solid #000;
  background-color: #283645;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;

  &:hover {



  }
  @media @tablet-widths{

  }
  @media @desktop-widths{
    .main-nav__link{

    }
  }
}





















