// Для импорта в диспетчер подключений: @import './src/blocks/reviews-photo/reviews-photo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.reviews-photo {
  padding-left: 6%;
  padding-right: 6%;

  &:first-of-type{
    padding-left: 0;
    padding-right: 0;
  }
@media  (min-width: @screen-sm) {}
@media  (min-width: @screen-md) {}


  &__img{
    margin:0;

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }

  &__img img{

  }

  &__name{

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }

  &__text{

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }

  &__like{

    @media  (min-width: @screen-sm) {}
    @media  (min-width: @screen-md) {}
  }
}
